.container
    .well
        form.form-horizontal(name="createGameForm")
            fieldset
                legend Создать новую игру
                .form-group
                    label.col-md-2.control-label(for="title") Название
                    .col-md-10
                        input.form-control(name="title", type="text", placeholder="Название", ng-model="title", required)
                .form-group
                    label.col-md-2.control-label(for="city") Город
                    .col-md-10
                        input.form-control(name="city", type="text", placeholder="Город", ng-model="city", required)
                .form-group
                    label.col-md-2.control-label(for="dateofstart") Дата начала игры
                    .col-md-10
                        input.form-control(name="dateofstart", type="date", placeholder="Дата начала игры", ng-model="dateofstart", required)
                .form-group
                    label.col-md-2.control-label(for="dateofend") Дата окончания игры
                    .col-md-10
                        input.form-control(name="dateofend", type="date", placeholder="Дата окончания игры", ng-model="dateofend", required)
                .form-group
                    label.col-md-2.control-label(for="deposit") Взонс
                    .col-md-10
                        input.form-control(name="deposit", type="text", placeholder="Взнос", ng-model="deposit", required)
                .form-group
                    label.col-md-2.control-label(for="prize") Приз
                    .col-md-10
                        input.form-control(name="prize", type="text", placeholder="Приз", ng-model="prize", required)
                .form-group
                    label.col-md-2.control-label(for="description") Описание
                    .col-md-10
                        input.form-control(name="description", type="text", placeholder="Описание игры", ng-model="description", required)

                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="createNewGame()", ng-disabled="createGameForm.$invalid") Создать
                            | &nbsp;
                            a.btn.btn-default(ng-click="cleanInputs()") Отмена