.container
  .panel.panel-primary
    .panel-heading Информация о пользователе
    .panel-body
      p Имя: {{gameAppl.userParent.firstName}}
      p Фамилия: {{gameAppl.userParent.lastName}}
      p Почта: {{gameAppl.userParent.username}}
      p Телефон: {{gameAppl.userParent.phone}}

  .panel.panel-primary
    .panel-heading Информация о игре
    .panel-body
      p Название: {{gameAppl.gameParent.title}}
