.container
  table.table
    thead
      tr
        th Имя
        th Фамилия
        th Почта
        th Статус
    tbody
      tr(ng-repeat="user in users")
        td {{user.firstName}}
        td {{user.lastName}}
        td {{user.username}}
        td {{user.roles}}