.container
  .well
    form.form-horizontal(name="gameForm")
      fieldset
        legend Изменить игру
        .form-group
          label.col-md-2.control-label(for="title") Название
          .col-md-10
            input.form-control(name="title", type="text", placeholder="Название", ng-model="game.title", required)
        .form-group
          label.col-md-2.control-label(for="description") Описание
          .col-md-10
            input.form-control(name="description", type="text", placeholder="Описание", ng-model="game.description", required)
        .form-group
          label.col-md-2.control-label(for="prize") Приз
          .col-md-10
            input.form-control(name="description", type="text", placeholder="Описание", ng-model="game.prize", required)
        .form-group
          label.col-md-2.control-label(for="deposit") Взнос
          .col-md-10
            input.form-control(name="description", type="text", placeholder="Описание", ng-model="game.deposit", required)
        .form-group
          label.col-md-2.control-label(for="city") Город
          .col-md-10
            input.form-control(name="description", type="text", placeholder="Описание", ng-model="game.city", required)
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="update()") Сохранить
              | &nbsp;
              a.btn.btn-default(ng-click="deletegame()") Удалить игру
              | &nbsp;
              a.btn.btn-default(href="/") Отмена
