.container
  gametitle {{game.title}}
  .row
    .col-md-4
      .panel.panel-primary
        .panel-heading Основная информация
        .panel-body
          p.card-text Город: {{game.city}}
          p.card-text Дата начала: {{game.dateofstart}}
          p.card-text Дата окончания: {{game.dateofend}}
          p.card-text Взнос: {{game.deposit}}р
          p.card-text Призовой фонд: {{game.prize}}р
          button.btn.btn-primary(ng-click="signToGame()", ) Подать заявку


    .col-md-8
      .panel.panel-primary
        .panel-heading Информация от автора
        .panel-body
          p.card-text {{game.description}}
          a(href="/game/game-appls-list/{{game._id}}") Посмотреть участников



  //.panel.panel-primary
  //  .panel-heading Участники
  //  .panel-body
  //    div(ng-repeat="gameAppl in gameAppls") {{gameAppl.userFirst}} {{gameAppl.lastName}} signed: {{gameAppl.signed | date:'medium'}}
