.container
  .well
    form.form-horizontal(name="profileForm")
      fieldset
        legend Изменить профиль
        .form-group
          label.col-md-2.control-label(for="email") Почта
          .col-md-10
            input.form-control(name="email", type="email", placeholder="Почта", ng-model="email", required)
        .form-group
          label.col-md-2.control-label(for="phone") Телефон
          .col-md-10
            input.form-control(name="phone", type="text", placeholder="Телефон", ng-model="phone", required)
        .form-group
          label.col-md-2.control-label(for="fname") Имя
          .col-md-10
            input.form-control(name="fname", type="text", placeholder="Имя", ng-model="fname", required)
        .form-group
          label.col-md-2.control-label(for="lname") Фамилия
          .col-md-10
            input.form-control(name="lname", type="text", placeholder="Фамилия", ng-model="lname", required)
        .form-group
          label.col-md-2.control-label(for="city") Город
          .col-md-10
            input.form-control(name="city", type="text", placeholder="Город", ng-model="city", required)
        .form-group
          label.col-md-2.control-label(for="password") Пароль
          .col-md-10
            input.form-control(name="password", type="Пароль", placeholder="Новый пароль", ng-model="password")
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="update()", ng-disabled="signupForm.$invalid") Сохранить
              | &nbsp;
              a.btn.btn-default(href="/") Отмена
