.container
  .jumbotron
    h1 Активные городские игры
    p Мы утверждаем, что наши игры — это не просто способ весело и интересно провести время. Городские игры — средство обретения большей степени свободы. Это возможность стать героем настоящего приключения, окунуться в мир загадок и тайн, возможность открыть в себе те ресурсы, о которых вы, вероятно, даже не подозреваете!
    a.btn.btn-primary.btn-lg(href="/games/{{}}", role='button') Найти игру для себя

  .row
    .col-md-12
      div(ng-include="'/partials/main/vNew-games'")